.main-container {
    font-family: "Space Grotesk", sans-serif;
    background-image: url("https://i.pinimg.com/originals/5a/69/4f/5a694f8b25a0da6dc4974fbc24fd8ed8.jpg");
    background-size: cover;
    background-position: center;
    background-color: #000000;
    background-repeat: no-repeat;
    color: #131331;
}