.main-container {
    font-family: "Space Grotesk", sans-serif;
    background-image: url("https://i.pinimg.com/originals/5b/ec/37/5bec373bb49e0f41bcd12864c4fe3dca.jpg");
    background-size: cover;
    background-position: center;
    background-color: #000000;
    background-repeat: no-repeat;
    color: #131331;
}