.main-container {
    font-family: "Roboto Mono", monospace;
    background-image: url("https://scitechdaily.com/images/Astronauts-In-Outer-Space-Need-Radiation-Shielding.jpg");
    background-size: cover;
    background-position: center;
    background-color: #000000;
    background-repeat: no-repeat;
}