.page-subtitle {
    font-weight: 600;
}

.page-subtitle._interaction {
    margin-top: 100px;
    margin-bottom: auto;
    color: #000;
}

.page-subtitle #distanciaConvertida {
    margin-top: 20px;
    color: #fada06;
}